<section class="login-page__wrapper">
    <div class="login">
        <h2 class="login__title">Login</h2>
        <div class="login__wrapper">
            {{{ form }}}
            {{{ link }}}
        </div>
    </div>
</section>
