@import "../../styles/variables.less";

.input-form {
  font-family: @inter-font;
  font-style: normal;
  font-weight: 500;

  &__title {
    font-size: 9px;
    line-height: 9px;
    color: @grey-color;
  }
  &__input {
    font-size: 13px;
    line-height: 13px;
    height: 25px;
    left: 500px;
    width: 280px;
    top: 282px;
    border:  none;
    border-bottom: 1px solid @blue-color;
    &::placeholder {
      color: @black-color;
    }
  }
}
