<section class="change_password-page">

    <div class="button-back">{{{ back }}}</div>
    <div class="change_password-page__wrapper">

        <div class="change_password">
            {{{ img }}}

            <div class="change_password__wrapper">
                {{{ form }}}

                <div class="change_password-button">
                    <a href="./chat">
                        {{{ button }}}
                    </a>
                </div>

            </div>
        </div>

    </div>
</section>
