---
username: Amir Mukhtarov
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templator example</title>
    <link rel="stylesheet/less" type="text/css" href="index.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script>
</head>
<body>
    <a href="src/pages/login.hbs">Login</a>
    <a href="src/pages/registration.hbs">Registration</a>
    <a href="src/pages/chat.hbs">Chat</a>
    <a href="src/pages/profile.hbs">Profile</a>
    <a href="src/pages/404.hbs">404</a>
    <a href="src/pages/500.hbs">505</a>

<!--    <div id="app">-->
<!--        Hello, {{username}}!-->
<!--        <li>{{>button label="AAA"}}</li>-->
<!--        <li>{{>button label="BBB"}}</li>-->
<!--        <li>{{>button label="CCC"}}</li>-->
<!--    </div>-->
<!--    <div>-->
<!--        <a href="profile.hbs"><li>{{>button label="Profile"}}</li></a>-->
<!--    </div>-->
</body>
</html>