---
username: Amir Mukhtarov
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templator example</title>
</head>
<body>
    <div id="app">
        Hello, {{username}}!
        <li>{{>button label="AAA"}}</li>
        <li>{{>button label="BBB"}}</li>
        <li>{{>button label="CCC"}}</li>
    </div>
</body>
</html>