<div class="chat {{#if isSelected }}chat--selected{{/if}}">
    <p class="name">{{ title }}</p>

    <div class="content">
        {{{isMine}}}
<!--        {{#if isMine}}<p class="from">Me: </p> {{/if}}-->
        <p class="content-message"> {{ last_message.content }}</p>
    </div>

    {{#if unread_count }}
        <span class="chat__badge">{{unread_count}}</span>
    {{/if}}
</div>
