<div class="message">
    <div class="message-user">
        <div class="message_avatar"></div>
        <div class="message-name">
            {{ messageUser }}
        </div>
    </div>

    <div class="message_history">
        <div class="message_history-time">19 june</div>

            {{{ messageIn }}}

        <div class="message_history-time">19 june</div>

            {{{ messageOut }}}

    </div>

    <div class="message-input-wrapper">
        <a href="#"><img alt="" class="message-img" src="{{ srcImg }}"></a>
        <label>
            <input class="message-input" type="text" name="message" placeholder="Message"/>
        </label>
        <button class="message-button">&#x203A;</button>
    </div>
</div>
