<div class="chat-page__wrapper">
    <div class="chat-page__dialogues">

        <a class="chat-page__dialogues__link"  href="./profile">Profile ></a>
        <label>
            <input class="chat-page__dialogues_search" type="text" name="search" placeholder="Search"/>
        </label>

        {{{ dialogues }}}
    </div>

    {{{ messageHistory }}}


</div>
