<div class="chat-page__wrapper">
    <div class="chat-page__dialogues">

        {{{ link }}}
        {{{ search }}}
<!--        <input class="chat-page__dialogues_search" type="text" name="search" placeholder="Search"/>-->


        {{{ dialogues }}}
    </div>

    {{{ messageHistory }}}


</div>
