<section class="profile-page__wrapper">
    <div class="profile">
        {{{ img }}}
        <img alt="" class="profile__img" src="{{ profileImg }}">
        <div class="profile__wrapper">
            {{{ form }}}

            <div class="profile-button">
                <a href="./chat">
                    {{{ button }}}
                </a>
            </div>

        </div>
    </div>
</section>
