<section class="registration-page__wrapper">
<div class="registration">
    <h2 class="registration__title">Registration</h2>
    <div class="registration__wrapper">

        {{{ form }}}
        {{{ link }}}

    </div>
</div>
</section>
