<section class="change_data-page__wrapper">
    <div class="change_data">
        {{{ img }}}

        <div class="change_data__wrapper">
            {{{ form }}}

            <div class="change_data-button">
                <a href="./chat">
<!--                    {{{ button }}}-->
                </a>
            </div>

        </div>

    </div>
</section>
