---
title: "404"
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="./error-page.less" />
    <title>{{title}}</title>
</head>
<body>
    <main id="404">
        <section class="error-page__wrapper">
            <h1 class="title">{{title}}</h1>
            <span class="message">Something wrong</span>

            {{>text-link class="text-link" href="./chat.hbs" label="Back to chats"}}

        </section>
    </main>
</body>
</html>