<div class="chat-page__dialogues_messages">
    <div class="chat-page__dialogues_avatar"></div>
    <div>
        <div class="chat-page__dialogues_name">
            {{ name }}
        </div>

        <div class="chat-page__dialogues_last-message">
            {{ lastMessage}}
        </div>
    </div>

    <div class="chat-page__dialogues_time">{{time}}</div>

</div>