<fieldset class="input">
    <label >
        <input
            type={{type}}
            minlength={{minlength}}
            maxlength={{maxlength}}
            required
        />
        <span >{{helperText}}</span>
    </label>
    <p ></p>
</fieldset>
