---
username: Amir Mukhtarov
---
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templator example</title>
    <link rel="stylesheet" href="index.less" />
</head>
<body>
    <div class="ref">
        <a href="pages/login.hbs">Login</a>
        <a href="pages/registration.hbs">Registration</a>
        <a href="pages/chat.hbs">Chat</a>
        <a href="pages/profile.hbs">Profile</a>
        <a href="pages/404.hbs">404</a>
        <a href="pages/500.hbs">505</a>
    </div>
</body>
</html>